In [2]:
import matplotlib.pyplot as plt
import numpy as np
import random
import math
from IPython import display
from scipy.signal import savgol_filter
import pandas as pd

In [6]:
df = pd.read_csv('./Class_P1/CP_1.csv')
df.head()

    X    Y  LABEL
0  69   74      0
1  59   76      0
2  79   74      0
3  66  100      0
4  11   24      1

In [7]:
df = pd.read_csv('./Class_P1/data1.csv')
df.head()

    X    Y  LABEL
0  69   74      0
1  59   76      0
2  79   74      0
3  66  100      0
4  11   24      1